# Encoding: utf-8

<h2>Terraform Jobs</h2>

<script type="text/javascript">

    const PM_PASS = "${PM_PASS}";

    var testjob  = `<%= raw @test %>`;

    $(function plan () {        
        const ansi_up = new document.AnsiUp();
        const html = ansi_up.ansi_to_html(testjob);
        
        $(".processed-html").html(html);
    });

     var deployjob  = `<%= raw @deploy %>`;

    $(function deploy() {        
      const ansi_up = new document.AnsiUp();
      const html = ansi_up.ansi_to_html(deployjob);
        
        $(".deploy-html").html(html);
    });

    const successstring = "Job succeeded";
    const failedstring = "ERROR: Job failed";

    if (testjob.includes(successstring)) {
            console.log("Job fully loaded.")  
        
    } else {
        if (testjob.includes(failedstring)) {
            console.log("Job not finished, reload !")
        } else {
            setTimeout(function(){
                window.location.reload(1);
            }, 5000);            
        }
    }

    <% if @deploy != nil %>
    if (deployjob.includes(successstring)) {
        console.log("Job fully loaded.")  
    } else {
        if (deployjob.includes(failedstring)) {
            console.log("Job not finished, reload !")
        }
         else {
            setTimeout(function(){
                window.location.reload(1);
            }, 2000);            
        }
    }
    <% end %>


</script>    

<div class="row mb-2">
    <div class="col-md-6">
        <h1> Plan </h1>
            <code class="processed-html"></code>
    </div>
    
    <div class="col-md-6">
        <h1> Apply </h1>   

<% if @deploy != nil %>
    <code class="deploy-html"></code>

    <% else %> 
    <br>
        <div class="center img-callout"
            <p> Apply Job not yet launched </p>
        </div>

    <button class="btn btn-primary dropdown-item" data-toggle="modal" data-target="#exampleModal2">Appliquer le plan</button>
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                    <b>Attention! </b>
                    </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                        <div class="modal-body">
                        Etes vous sure de vouloir appliquer le Plan ?
                        </div>
        
                        <div class="modal-body">

                        <script>

                        </script>

                        </div>
                            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <%= form_tag('/deployment') do -%>
            <%= text_field_tag(:jobID, @deployid, size: "55x1", class: "form-control") %>
            <%= submit_tag 'Appliquer le plan', class: "btn btn-large btn-primary"%>
            <% end %>
                            </div>
                </div>
            </div>
        </div>
<% end %>
    </div>
</div>

<style>
    h1, h2 {
       text-align: center;
    }

    code {
        color: white;
        background : black;
        vertical-align: margin;
        margin-top: 5px;
        white-space: pre-line;
    }

    input#jobID.form-control {
        display: none;
    }

</style>
