
<head>
    <title>Sauron <%= @cluster_name %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/css_imports'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta charset=utf-8>
    <meta name=mobile-web-app-capable content="yes">
    <meta name=viewport content="target-densitydpi=device-dpi,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
    <style>
        @-ms-viewport {
            width: device-width;
        }
    </style>
    <meta name=description content="Nautile - Fournisseur d'accès Internet en Nouvelle Calédonie. Internet, Téléphone, Télévision">
    <meta name=keywords content="Nautile,Fournisseur d'accès Internet,FAI,Nouvelle Calédonie,NC,Internet,Téléphone,Télévision,GOtv,Canal+,Canal,Voip">
    <meta name=generator content="Hugo 0.62.2">

        
    <%= favicon_link_tag asset_path('nautile.ico') %>

    

</head>
    
<body class=nautile>
    <div class=body>
        <header class=nautile-header>
            <div class=top-links>
                <div class=container>
                    <div class=row>
                        <div class=col-lg-12>
                            <ul class="list-inline text-lg-right text-center">
                                <li class=list-inline-item title="ruban-black" data-toggle=tooltip></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class=navigation>
                <div class=container>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light"><a class=navbar-brand href= /><%=image_tag("logo-nautile-vertical-2017.jpg", alt: "logo")%></a>


                        <button class=navbar-toggler type=button data-toggle=collapse data-target=#navbarSupportedContent aria-controls=navbarSupportedContent aria-expanded=false aria-label="Toggle navigation">
                            <span class=navbar-toggler-icon></span>
                        </button>
                        <div class="collapse navbar-collapse" id=navbarSupportedContent>
                            <ul class="navbar-nav ml-auto">

                                <% if user_signed_in? %>
                                <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>

                                <% clusters = get_clusters() %>
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">Créer</a>
                                  <div class="dropdown-menu">
                                    <% for cluster in clusters do  %>
                                    <a class="dropdown-item" href="/create?cluster=<%= cluster %>"><%= cluster %></a>
                                    <% end %>
                                  </div>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/notes">Notes</a></li>
                                <li class=nav-item><a class=nav-link href="/users/edit"><strong><%= current_user.email %></strong></a></li>
                                <li class=nav-item><a class=nav-link href="/users/edit">Modifier le profil <%= image_tag current_user.gravatar_url, class: "rounded-circle gravatar" %></a></li>
                                <li class=nav-item><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, :class => 'nav-link'  %></strong></li>
                                <% else %>
                                <li class=nav-item><%= link_to "Se connecter", new_user_session_path, :class => 'nav-link'  %></strong></li>
                                
                                <% end %>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </header>
